PAYMONGO_SECRET_KEY=sk_test_REPLACE_ME
PAYMONGO_SUCCESS_URL=https://bukidbayan-capstoners.web.app/paymongo-return.html
PAYMONGO_CANCEL_URL=https://bukidbayan-capstoners.web.app/paymongo-return.html
PAYMONGO_PAYMENT_METHOD_TYPES=qrph
PAYMONGO_PASS_ON_FEES=false
PAYMONGO_WEBHOOK_SECRET=whsec_REPLACE_ME
